<!-- forum/templates/forum/thread_list.html -->

<!-- forum_list.html -->

{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Forum</h1>
    <ul class="list-group">
        {% for thread in threads %}
            <li class="list-group-item">
                <h2><a href="{% url 'forum:view_thread' thread.id %}">{{ thread.title }}</a></h2>
                <p>Author: {{ thread.author }}</p>
                <p>Date: {{ thread.created_at }}</p>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'forum:create_thread' %}" class="btn btn-primary mt-3">Create Thread</a>
</div>
{% endblock %}

