<!-- forum/templates/forum/thread_list.html -->

{% extends 'base.html' %}

{% block content %}
    <h1>Forum Threads</h1>

    <!-- List of forum threads -->
    <ul class="thread-list">
        {% for thread in threads %}
            <li>
                <a href="{% url 'forum:view_thread' thread.id %}">{{ thread.title }}</a>
                <p>Posted by {{ thread.author }} on {{ thread.created_at }}</p>
            </li>
        {% endfor %}
    </ul>

    {% if user.is_authenticated %}
        <!-- Link to create a new thread -->
        <a href="{% url 'forum:create_thread' %}" class="create-thread-button">Create a New Thread</a>
    {% else %}
        <p><a href="{% url 'login' %}">Log in</a> to create a new thread.</p>
    {% endif %}
{% endblock %}
