{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2>{{ thread.title }}</h2>
        <hr>
        <div class="thread">
          <div class="thread-row">
            <div class="thread-content">{{ thread.content|safe }}</div>
            <div class="thread-info">{{ thread.author }} | {{ thread.created_at|date:"F d, Y" }}</div>
          </div>
        </div>
        <h3>Post a Response</h3>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Submit Response</button>
        </form>        
        <hr>
        <ul class="replies">
          {% for response in responses %}
            <li class="reply-list">
              <div class="reply-row">
                <div class="reply-content">{{ response.content|safe }}</div>
                <div class="reply-info">{{ response.author }} | {{ response.created_at|date:"F d, Y" }}</div>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}